VITE_API_URL=http://localhost:4000/api
NEXT_PUBLIC_SUPABASE_URL=https://vmhxbhhdujhpnmjwooqh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_fRfMiDeDz1HrkxIU0tJvOQ_IuULRQIc
VITE_OSRM_URL=https://router.project-osrm.org/route/v1/driving
VITE_NOMINATIM_URL=https://nominatim.openstreetmap.org/search
